<h1> Welcome to Got Questions </h1>

We hope you find exactly what you're looking.

<h2>Questions</h2>

<ul>
  {{#each model.questions as |question|}}
     <li>{{#link-to 'question' question.id}}{{question.questionAuthor}} {{my-moment question.timestamp}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<hr>

<h3>Question Watch list</h3>

<li>{{#link-to 'question' question.id}}{{question-list}}{{/link-to}}</li>
